<!DOCTYPE html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/voresbaggrund.css">
</head>
<header class="header">
    <nav class="navbar">
        <a href="/index.html" class="nav-logo"> <img src="/Pictures/Perser2.png" class="logo"></a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="/login.html" class="nav-link">LOGIN </a>
            </li>
            <li class="nav-item">
                <a href="/omracen.html" class="nav-link">OM RACEN </a>
            </li>
            <li class="nav-item">
                <a href="/forum.html" class="nav-link">FORUM</a>
            </li>
            <li class="nav-item">
                <a href="/voresbaggrund.html" class="nav-link">VORES BAGGRUND</a>
            </li>
            <li class="nav-item">
                <a href="/kontaktos.html" class="nav-link">KONTAKT OS</a>
            </li>
        </ul>
        <div class="hamburger">
            <script src="/js/voresbaggrund.js"></script>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>
<h1 class="voresbaggrund">Vores Baggrund <hr class="linje"> </h1>
<h1 class="voresbaggrund"> Vores Team </h1>

<div class="container">
    <div class="card">
      <img src="/Pictures/wonder.png" alt="Person" class="card__image">
      <p class="card__name"> CEO <br> Alexander Wentzel</p>
      <div class="grid-container">
  
        
  
      </div>
      <button class="btn draw-border">Message</button>
  
    </div>
    <div class="card">
      <img src="/Pictures/hechmann.png" alt="Person" class="card__image">
      <p class="card__name"> CFO <br> Casper Hechmann</p>
      <div class="grid-container">
  
        
  
      </div>
      <button class="btn draw-border">Message</button>
    </div>
    <div class="card">
      <img src="/Pictures/akeno.png" alt="Person" class="card__image">
      <p class="card__name"> Chief of Marketing <br> Akeno Himejima</p>
      <div class="grid-container">

        </div>
      <button class="btn draw-border">Message</button>
    </div>
    <div class="card">
      <img src="/Pictures/Vimse.png" alt="Person" class="card__image">
      <p class="card__name"> Mascot <br> Cimse Wentzel </p>
      <div class="grid-container">

        
  
      </div>
      <button class="btn draw-border">Message</button>
    </div>
</div>
</div>

<div>
<h1 class="voresbaggrund"> Vores Mission <hr class="linje2"> </h1>
<h2 class="tekst">Vores mission er at fjerne Glumsø fra Danmark</h2>
<h1 class="voresbaggrund"> Vores Vision <hr class="linje2"> </h1>
<h2 class="tekst">Vores vision er at Cimse bliver en gud</h2>
</div>
